# Configuration de l'application
APP_NAME=Laravel
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

# Clé d'application (à générer avec php artisan key:generate)
APP_KEY=base64:secret_key

# Configuration de la base de données MongoDB
MONGODB_URI=mongodb+srv://user:mdp.@form.f52xr.mongodb.net/?retryWrites=true&w=majority&appName=form
MONGODB_DATABASE=survey

# Configuration du serveur
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
